.progressCircles {
    position: absolute; 
    left: 50%;        
    transform: translateX(-50%);  
    display: flex;
    gap: 8px;
    align-items: center;
}

.progressCircle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:  var(--primary-color-200) ;

}

.progressCircle.current {
    background-color: var(  --color-quiz-button-selected);
    transform: scale(1.3);
}

.progressCircle.completed {
    background-color: var(  --color-quiz-button-selected);

} 