.buttonsContainer {
    position: fixed;
    top: 708;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--background);

    z-index: 1000;
}
.progressBarandExitContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.exitButton{
    border:0;
    background-color: transparent;
    
}

.previousButton {

    height: 49px;
    width: 70px;
    border: 1px solid #444752;
    border-radius: 3px;
    background-color: #fff;
    top:708;
}

.nextButton {
    margin-left: 10px;
    height: 49px;
    width: 234px;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    background-color: var( --color-button-bg);
    Color: var(  --color-button-text)

}

.nextButton:disabled {
    color: var( --color-button-bg);
    background-color: #D9D9D9;
}

.quizTitle {
    margin-bottom: 40px; 
}

.quizQuestion {
    margin-bottom: 24px;  
}

.quizSelectOne {
    margin-bottom: 32px; 
}


