.auth-container {
  padding: 32px;
  max-width: 393px;
  margin: 0 auto;
  text-align: center;
  background: white;
}

/* Category Page Styling */
article, section {
  padding: 32px 0px 0px 0px;
  max-width: 393px;
  margin: 0 auto;
  text-align: center;
}

header {
  text-align: center;
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

/* Ingredients Page Styling */
.toggle-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    background: none;
    font-size: 16px;
    padding: 10px 0;
    cursor: pointer;
    color: #333;
}

#dropdownContent {
    padding: 10px;
    border-top: 1px solid #000;
    font-size: 14px;
    text-align: left;
}

.hidden {
    display: none;
}

#arrow {
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(180deg);
}

.chip-container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  max-width: 393px;
  margin: 0 auto;
  padding: 10px 0 0;
}

.chip {
  padding: 0.4rem 1rem;
  border-radius: 999px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
  display: inline-block;
}

.chip-blue {
  background-color: #d6eaff;
}

.chip-yellow {
  background-color: #ffeecc;
}

.chip-green {
  background-color: #d7f9d2;
}

.padding-md {
    padding: 20px 0 0;
}

.padding-sm {
    padding: 10px 0 0;
}

.margin-sm {
    margin: 10px 0 0;
}

/* Variables Etc */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-text: #1C0E13;
  --color-labels: #5A5757;
  --color-button-bg: #444752; 
  --color-button-text: #ffffff;
  --color-header-bg: #E0E8FF;
  --color-green: #5B9253;
  --color-yellow: #FFF48D;
  --color-quiz-button: #EAEFFF; 
  --color-quiz-button-selected: #969DB3;
  --color-quiz-button-border: #949DB5;


  --font-main: 'Lexend', sans-serif;
  --text-h1: 40px;
  --line-h1: 44px;

  --text-h2: 34px;
  --line-h2: 38px;

  --text-h3: 28px;
  --line-h3: 32px;

  --text-h4: 20px;
  --line-h4: 24px;

  --text-body: 16px;
  --line-body: 20px;

  --text-body-bold: 16px;
  --line-body-bold: 24px;

  --text-label: 14px;
  --line-label: 18px;

  --text-body-medium: 16px;
  --line-body-medium: 20px;

  --text-body-large: 20px;
  --line-body-large: 20px;

  --text-label-small: 12px;
  --line-label-small: 16px;

  --text-tags: 13px;
  --line-tags: 24.3px;

  --text-h3-bold: 28px;
  --line-h3-bold: 32px;

  --text-h3-large: 36px;
  --line-h3-large: 32px;

  --text-h3-large-bold: 36px;
  --line-h3-large-bold: 32px;
}



/* HEADINGS */
.h1 {
  font-family: var(--font-main);
  font-size: var(--text-h1);
  line-height: var(--line-h1);
  font-weight: 700;
}

.h2 {
  font-size: var(--text-h2);
  line-height: var(--line-h2);
  font-weight: 600;
}

.h3 {
  font-size: var(--text-h3);
  line-height: var(--line-h3);
  font-weight: 600;
}
.h3Bold {
  font-size: var(--text-h3-bold);
  line-height: var(--line-h3-bold);
  font-weight: 700;
}

.h3Large {
  font-size: var(--text-h3-large);
  line-height: var(--line-h3-large);
  font-weight: 600;
}

.h3LargeBold {
  font-size: var(--text-h3-large-bold);
  line-height: var(--line-h3-large-bold);
  font-weight: 700;
}

.h4 {
  font-size: var(--text-h4);
  line-height: var(--line-h4);
  font-weight: 600;
}

/* BODY TEXT */
.body {
  font-size: var(--text_body);
  line-height: var(--line_body);
  font-weight: 400;
}

.bodyBold {
  font-size: var(--text-body-bold);
  line-height: var(--line-body-bold);
  font-weight: 600;
}
.bodyMedium {
  font-size: var(--text-body-medium);
  line-height: var(--line-body-medium);
  font-weight: 500;
}

.bodyLarge {
  font-size: var(--text-body-large);
  line-height: var(--line-body-large);
  font-weight: 400;
}

.bodyLargeBold {
  font-size: var(--text-body-large);
  line-height: var(--line-body-large);
  font-weight: 600;
}

/* LABELS */
.label {
  font-size: var(--text_label);
  line-height: var(--line_label);
  font-weight: 400;
}

.labelMedium {
  font-size: var(--text-label);
  line-height: var(--line-label);
  font-weight: 500;
}
  
  .labelSmall {
    font-size: var(--text-label-small);
    line-height: var(--line-label-small);
    font-weight: 400;
  }
  
  .tags {
    font-size: var(--text_tags);
    line-height: var(--line_tags);
    font-weight: 400;
  }
  








@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,

body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
