.auth_container {
  padding: 32px;
  max-width: 393px;
  margin: 0 auto;
  text-align: center;
}

/* Category Page Styling */
section {
  padding: 32px;
  max-width: 393px;
  margin: 0 auto;
  text-align: center;
}

header {
  text-align: center;
}

.category_subheader {
  text-align: left;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-text: #1C0E13;
  --color-labels: #5A5757;
  --color-button-bg: #444752; 
  --color-button-text: #ffffff;
  --color-header-bg: #E0E8FF;
  --color-green: #5B9253;
  --color-yellow: #FFF48D;
  --color-quiz-button: #EAEFFF; 


  --font_main: 'Lexend', sans-serif;
  --text_h1: 40px;
  --line_h1: 44px;

  --text_h2: 34px;
  --line_h2: 38px;

  --text_h3: 28px;
  --line_h3: 32px;

  --text_h4: 20px;
  --line_h4: 24px;

  --text_body: 16px;
  --line_body: 20px;

  --text_body_bold: 16px;
  --line_body_bold: 24px;

  --text_label: 14px;
  --line_label: 18px;

  --text_body_medium: 16px;
  --line_body_medium: 20px;

  --text_body_large: 20px;
  --line_body_large: 20px;

  --text_label_small: 12px;
  --line_label_small: 16px;

  --text_tags: 13px;
  --line_tags: 24.3px;

  --text_h3_bold: 28px;
  --line_h3_bold: 32px;

  --text_h3_large: 36px;
  --line_h3_large: 32px;

  --text_h3_large-bold: 36px;
  --line_h3_large-bold: 32px;
}

/* HEADINGS */
.h1 {
  font-family: var(--font-_ain);
  font-size: var(--text_h1);
  line-height: var(--line_h1);
  font-weight: 700;
}

.h2 {
  font-size: var(--text_h2);
  line-height: var(--line_h2);
  font-weight: 600;
}

.h3 {
  font-size: var(--text_h3);
  line-height: var(--line_h3);
  font-weight: 600;
}
.h3-bold {
  font-size: var(--text_h3_bold);
  line-height: var(--line_h3_bold);
  font-weight: 700;
}

.h3-large {
  font-size: var(--text_h3_large);
  line-height: var(--line_h3_large);
  font-weight: 600;
}

.h3-large-bold {
  font-size: var(--text_h3_large_bold);
  line-height: var(--line_h3-_arge_bold);
  font-weight: 700;
}

.h4 {
  font-size: var(--text_h4);
  line-height: var(--line_h4);
  font-weight: 600;
}

/* BODY TEXT */
.body {
  font-size: var(--text_body);
  line-height: var(--line_body);
  font-weight: 400;
}

.body-bold {
  font-size: var(--text-body_bold);
  line-height: var(--line-body_bold);
  font-weight: 600;
}
.body-medium {
  font-size: var(--text-body_medium);
  line-height: var(--line-body_medium);
  font-weight: 500;
}

.body-large {
  font-size: var(--text-body_large);
  line-height: var(--line-body_arge);
  font-weight: 400;
}

.body-large-bold {
  font-size: var(--text-body-large);
  line-height: var(--line-body-large);
  font-weight: 600;
}

/* LABELS */
.label {
  font-size: var(--text-label);
  line-height: var(--line-label);
  font-weight: 400;
}

.label-medium {
  font-size: var(--text-label);
  line-height: var(--line-label);
  font-weight: 500;
}
  
  .label-small {
    font-size: var(--text-label-small);
    line-height: var(--line-label-small);
    font-weight: 400;
  }
  
  .tags {
    font-size: var(--text-tags);
    line-height: var(--line-tags);
    font-weight: 400;
  }
  








@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,

body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
