
.startQuiz{
    position: fixed;
    top: 720px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 49px;
    width: 328px;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    background-color: var( --color-button-bg);
    color: var(  --color-button-text)
}

position: fixed;
top: 720px;
left: 0;
right: 0;
display: flex;
justify-content: center;
padding: 20px;
