

.background {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.startQuizButton{
    font-family: var(--font-main);
    height: 49px;
    width: 328px;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    background-color: var( --color-button-bg);
    color: var(  --color-button-text)
}


.logo{
    margin-top:200px;
}

.textLineOne{
    padding:12px 0 10px;

 
}
.textLineTwo{
    padding:0px 20px;
    margin-bottom: 205px;
}
.exitButtonContainer{
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
 
}

.exitButton {
    margin: 10px;
}
