
.header {
    margin-left: -30px;
    margin-right: -30px;
    text-align: left;}

.text{
    text-align: left;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom:25px;
    font-size:  var(--text-body-medium);
}

.text__ul{
    margin-bottom:15px ;
    text-align: left;
    font-size:  var(--text-body-medium);
    margin-right:-30px;
}

.text__ul li {
    margin-bottom: 10px;
    font-size:  var(--text-body-medium);
}

.subHeader{
    margin-left: -30px;
    margin-right: -30px;
    text-align: left;
    font-size:  var(--text-body-medium);

}

.bodyLogo {
    position: relative;
    right: 30;
    opacity: .3;
}
