.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E0E8FF;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 16px;
    height: 24px;
}

.brand {
    font-weight: 700;
    font-size: 1.2rem;
}

.header i {
    font-size: 1.2rem;
    cursor: pointer;
    color: #333;
}