/* .toggleButton {
    background-color: var(--color-quiz-button);
    color: var(--color-text);
    padding: 15px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--font-main);
    font-size: var(--text-body);
    line-height: var(--line-body);
    transition: all 0.3s ease;
    margin: 10px;
}
  
.toggleButton.active {
    background-color: var(--color-green);
    color: var(--color-button-text);
}  */