.ingredient {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 2rem;
    box-shadow: 0 2px 4px #0000000d;
    max-width: 500px;
}

.ingredient__name {
    font-weight: bold;
}

.ingredient__image {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}


.ingredient__description {
    font-size: 1rem;
    line-height: 1.4;
    color: #111;
}

