..card {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #dcdcdc;
    border-radius: 24px;
    background-color: white;
    max-width: 600px;
    box-shadow: 0 0 0 1px #f0f0f0;
    font-family: sans-serif;
}

.ingredient__name {
    font-weight: bold;
}

.ingredient__image {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}


.ingredient__description {
    font-size: 1rem;
    line-height: 1.4;
    color: #111;
}

