.ingredient {
    display: flex;
    align-items: center;
    gap: 0.75rem;
        flex-direction: column;
}

.ingredient__image {
    width: 100%;
}

.ingredient__description {
    font-weight: bold;
}

