.ingredient {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #dcdcdc;
    border-radius: 24px;
    margin-radiu
    background-color: white;
    max-width: 400px;
    box-shadow: 0 0 0 1px #f0f0f0;
    font-family: Lexend, sans-serif;
}

.ingredient__image {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
}

.ingredient__name {
    font-weight: 700;
    margin-right: 4px;
}

.ingredient__description {
    font-size: 1rem;
    color: #111;
    margin: 0;
    line-height: 1.4;
}

.card_buttons {
    border:0;
}
