.ingredient {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.ingredient__image {
    width: 100%;
}

.ingredient__description {
    font-weight: bold;
}

