.main {
    font-family: var(--font-main) ;
}

.quizAnswerButton {
    font-family: var(--font-main);
    border-radius: 3px;
    background-color: var(--color-quiz-button);  
    color: var(--color-text);
    width: 314px;
    margin: 9px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--color-quiz-button-border);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    transition: all 0.2s ease;
}
  
.toggleButton.active {
    background-color: var(--color-quiz-button-selected);  
    color: white;
}

/* Override active state for color swatches */
.toggleButton[style*="background-color: #"] {
    color: transparent; /* Hide any text */
    padding: 0; 
}

.quizAnswerButton[style*="background-color: #"].active {
    background-color: inherit; 
    border: 3px solid var(--color-quiz-button-selected);
}


..quizAnswerButton[style*="border-radius: 50%"] {
    margin: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quizAnswerButton[style*="border-radius: 50%"]:hover {
    transform: scale(1.05);
}

.colorSwatch {
    height: 54px;
    width: 314px;
    padding: 0;
    color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    transition: all 0.2s ease;
}

.colorSwatch.active {

    border: 3px solid var(--color-quiz-button-selected);
}