.buttonsContainer {
    position: fixed;
    bottom: 30;
    left: 0;
    right: 0;
}

.exitButton{
    border:0;
    background-color: none;
}

.previousButton {
    height: 49px;
    width: 70px;
    border: 1px solid #444752;
    border-radius: 3px;
    background-color: #fff;
}

.nextButton {
    margin-left: 10px;
    height: 49px;
    width: 234px;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    color: #444752;
    background-color: #D9D9D9;
}

.quizTitle {
    margin-bottom: 40px;  /* Large space after title */
}

.quizQuestion {
    margin-bottom: 24px;  /* Medium space after question */
}

.quizSelectOne {
    margin-bottom: 32px;  /* Space before answer options */
    color: var(--color-labels);
}


