.quizContainer {
    position: relative;
}
.buttonsContainer {
    position: relative;
    
}

.previousButton {
    position:absolute;
    
    height: 49px;
    width: 70px;
    border: 1px solid #444752;
    border-radius: 3px;
    background-color: #fff;
    margin-top: 10;

}

.nextButton {
    margin-left: 10px;
    height: 49px;
    width: 234px;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    color: #444752;
    background-color: #D9D9D9
}


