
.quizPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
}
.buttonsContainer {
    position: fixed;
    bottom: 30;
    left: 0;
    right: 0;
}



.previousButton {


    height: 49px;
    width: 70px;
    border: 1px solid #444752;
    border-radius: 3px;
    background-color: #fff;

    

}

.nextButton {
    margin-left: 10px;
    height: 49px;
    width: 234px;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    color: #444752;
    background-color: #D9D9D9;
    
}


