.header{
    text-align: left;
    margin-left: 0px;
    margin-bottom: 20px;
}


.paragraph {
    text-align: left;
    margin-bottom: 25px;

  }
  
.list {
    text-align: left;
    list-style-type: disc;
    padding-left: 20px;

  }
  
.list li {
    margin-bottom: 10px;
  }
  
.strong {
    display: block;
    text-align: left;
    margin: 20px 0px 10px 0px;
}
  
.bodyLogo {
    position: relative;
    right: 30;
    opacity: 0.3;
    margin-top: 40px;
}

.dividers{
    margin-top: 30px;
    margin-bottom: 20px;
}
