

.toggleButton {
    background-color: var(  --color-quiz-button);  /* Green color */
    color: var(  --color-text);
    width: 314px;
    width: 54px;
    
    border-bottom: 2px solid var(--color-quiz-button-border);

}
  
.toggleButton.active {
    background-color: var(  --color-quiz-button-selected);  /* Red color */
    color: white;
}