

.toggleButton {
    background-color: var(  --color-quiz-button);  /* Green color */
    color: var(  --color-text);
    padding: 15px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}
  
.toggleButton.active {
    background-color: var(  --color-quiz-button-selected);  /* Red color */
    color: white;
}