

.toggleButton {
    background-color: var(  --color-quiz-button);  /* Green color */
    color: var(  --color-text);
    border-radius: 3px;
    border-bottom: 2px solid var(--Tertiary-tertiary-700, #949DB5);

}
  
.toggleButton.active {
    background-color: var(  --color-quiz-button-secondary);  /* Red color */
    color: white;
}