.textContainer{
    text-align: left;

}

.intro p{
    margin-top: 10px;
    margin-bottom: 30px;

}

.ourMission{
    margin-top: 30px;
    margin-bottom: 20px;
}

.whyDermaKnight{
    margin-top: 30px;
}
.whyDermaKnight li{
    margin-top: 10px;
    list-style-type: none
}
.whyDermaKnight h3{
    margin-bottom: -12px;
}



.bodyLogo {
    position: relative;
    right: 30;
}
